pkgbase = google-chrome-beta
	pkgdesc = The popular web browser by Google (Beta Channel)
	pkgver = 128.0.6613.27
	pkgrel = 2
	url = https://www.google.com/chrome
	install = google-chrome-beta.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	provides = google-chrome
	options = !emptydirs
	options = !strip
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-beta/google-chrome-beta_128.0.6613.27-1_amd64.deb
	source = eula_text.html
	source = google-chrome-beta.sh
	sha512sums = 4c0c520b268a26d9923b9ef5a6da6c3ea027d86042821af473a3c0433371df62beb0f5c8b23e9ff0ae866d15d760a9521a0ba4724f90f98e6fec3a52ad123182
	sha512sums = a225555c06b7c32f9f2657004558e3f996c981481dbb0d3cd79b1d59fa3f05d591af88399422d3ab29d9446c103e98d567aeafe061d9550817ab6e7eb0498396
	sha512sums = 7556845976374b3af1cd702aac6a1969e3d55096b7492cd93ea905beeed87667e790f586036a1103e02630d87a5761591ce9f17055426da7fd30a4e667d16d3d

pkgname = google-chrome-beta
