pkgbase = google-chrome
	pkgdesc = The popular web browser by Google (Stable Channel)
	pkgver = 138.0.7204.157
	pkgrel = 1
	url = https://www.google.com/chrome
	install = google-chrome.install
	arch = x86_64
	license = custom:chrome
	depends = alsa-lib
	depends = gtk3
	depends = libcups
	depends = libxss
	depends = libxtst
	depends = nss
	depends = ttf-liberation
	depends = xdg-utils
	optdepends = pipewire: WebRTC desktop sharing under Wayland
	optdepends = kdialog: for file dialogs in KDE
	optdepends = gnome-keyring: for storing passwords in GNOME keyring
	optdepends = kwallet: for storing passwords in KWallet
	options = !emptydirs
	options = !strip
	source = https://dl.google.com/linux/chrome/deb/pool/main/g/google-chrome-stable/google-chrome-stable_138.0.7204.157-1_amd64.deb
	source = eula_text.html
	source = google-chrome-stable.sh
	sha512sums = a77f69bd52fff52bdcd151dc9da8a7a8acd1831e0ff7824683ac1663b3a19281cd00dfc99c1f4c01ec8b7cab36c533a8344a6fe9bc89384fb6c34d25b92b9274
	sha512sums = a225555c06b7c32f9f2657004558e3f996c981481dbb0d3cd79b1d59fa3f05d591af88399422d3ab29d9446c103e98d567aeafe061d9550817ab6e7eb0498396
	sha512sums = 82b7d69a0b555af49d15c9e6cc93e5efe5a32fbbccb2c2941d70d9cf460c5ed0edb005fcd0f478e00be8eaea006c8c4000593df9fa55c998d595c2c56b1e9649

pkgname = google-chrome
